# Python Basics - Data Types

This notebook covers basic Python syntax, variable, operations, functions, and other key aspects of Python language
for you to start programming Python. It's recommended that you are already familiar with another high level 
programming language before taking advantage of this notebook. For detailed explanation of each topic covered in 
this notebook, please use online resources for a more comprehensive study of Python basics.

In [1]:
#Integers

a=1
print(type(a))
print("The value of a is ", a)
print("The starting system memory address that stores variable a is ", id(a))
print("The address is usually displayed in hexadecimal format : ", hex(id(a)))

b=a
print("The address of variable b is ", hex(id(b)))

del(a)  #let's delete object/variable a
print("\nQuiz: After we deleted object/variable a, explain what see below: ")
print("The value of b is ", b)
print("The value of a is ", a)

#if b is also deleted, the memory that was allocated for a and b became unassociated memory space.
#Python has a mechanism for collecting the "garbage" memory to save valuable storage space
#data science tasks usually take large chunk of memory spaces. It's a good practice to remove un-needed 
#varialbes and free variable spaces.

<class 'int'>
The value of a is  1
The starting system memory address that stores variable a is  11530912
The address is usually displayed in hexadecimal format :  0xaff2a0
The address of variable b is  0xaff2a0

Quiz: After we deleted object/variable a, explain what see below:
The value of b is  1

NameError: ignored

In [2]:
#now, we move on float data type
pi=3.14
US_2015_GDP_Q2 = 17.914E+12
print(type(pi))
print(US_2015_GDP_Q2)
print(type(US_2015_GDP_Q2))

a = 5
print(type(a))
print(type(a*1.0))
print(5/2) #in python2, the result is 2

<class 'float'>
17914000000000.0
<class 'float'>
<class 'int'>
<class 'float'>
2.5

In [3]:
#string variables
a='Are you a'
b="python user"
c=a+' '+b+"?"
print(c)
print("Machine can 'learn'.")
print('Machine can "learn".')
#use escape characters 
print("Machine can \"learn\". \nThis course will introduce you to \n\t\tbasic machine learning methods")

Are you a python user?
Machine can 'learn'.
Machine can "learn".
Machine can "learn".
This course will introduce you to
		basic machine learning methods

In [4]:
#string integer conversion (casting)
a=2
print(a, type(a))
a=str(a)
print(a, type(a))
a=int(a)
print(a, type(a))

2 <class 'int'>
2 <class 'str'>
2 <class 'int'>

In [5]:
a="Machine Learning and data mining"
#in Notebook, after typing "a.", press the Tab key, you will see all the available build-in functions and
#attributes of object a. In this case, it's a string variable/object
print(a.capitalize())
print(a.upper())
print(a.find('and'))

#Slicing
print("The string has ",len(a), " characters.")
print(a[0])
print([c for c in a])
print(a[17:20])
print(a[-6:])

Machine learning and data mining
MACHINE LEARNING AND DATA MINING
17
The string has  32  characters.
M
['M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'a', 'n', 'd', ' ', 'd', 'a', 't', 'a', ' ', 'm', 'i', 'n', 'i', 'n', 'g']
and
mining

In [6]:
#Lists: a list of objects
#use "[]" and ",". The element can be any object including lists.
list1 = [13,5.8,'John',True]
list2 = [14,5.7,'Mark',False]
combined = [list1, list2]
print(combined)
print(len(combined))

list3 = [102,3,4,5,6,4,4,-62,1.7,345,-23]
print("The total number elements is ", len(list3))
list3.sort()
list4 = sorted(list3)
print(list3)
print(list4)

list3.pop()
print(list3)
list3.remove(102)
print(list3)
list3.extend([102,345]) #append can only add one element at a time to the end of the list
print(list3)
print(list3[:3]) #same as slicing a string

#generate a list using range()
l = list(range(-20,20,5))
print(l)

#itemized operation 
l = [1,2,3]  
#we need a list consisting [10,20,30]
l_squared = l*10
print(l_squared) # * will only duplicate the entire list, not the list items
l_squared = [x*10 for x in l]
print(l_squared)
# we have to generate a new list and iterate through all the items of l
# when we learn vectorization, we will see easier solutions

[[13, 5.8, 'John', True], [14, 5.7, 'Mark', False]]
2
The total number elements is  11
[-62, -23, 1.7, 3, 4, 4, 4, 5, 6, 102, 345]
[-62, -23, 1.7, 3, 4, 4, 4, 5, 6, 102, 345]
[-62, -23, 1.7, 3, 4, 4, 4, 5, 6, 102]
[-62, -23, 1.7, 3, 4, 4, 4, 5, 6]
[-62, -23, 1.7, 3, 4, 4, 4, 5, 6, 102, 345]
[-62, -23, 1.7]
[-20, -15, -10, -5, 0, 5, 10, 15]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[10, 20, 30]

In [7]:
#Tuples: "immutable" or "read-only" list
#use "()" and "," 
tup3=tuple(list3)
print(list3,type(list3))
print(tup3,type(tup3))

#when you use the Tab key, you will see Tuples doesn't have as many build-in functions as Lists. Why?
print("The index of 7 in tup3 is ", tup3.index(1.7))
print("Number 4 appears in tup3 ",tup3.count(4), ' times.')

[-62, -23, 1.7, 3, 4, 4, 4, 5, 6, 102, 345] <class 'list'>
(-62, -23, 1.7, 3, 4, 4, 4, 5, 6, 102, 345) <class 'tuple'>
The index of 7 in tup3 is  2
Number 4 appears in tup3  3  times.

In [8]:
#Dictionary: index/key value pairs
#use "{}", ":", and "," 

Tom={'Name':'Tom','Age':18,'Sex':'Male','GPA':3.76}
print(Tom,type(Tom))
print(Tom['Age'])
print(Tom.keys())
print(Tom.values())

{'Name': 'Tom', 'Age': 18, 'Sex': 'Male', 'GPA': 3.76} <class 'dict'>
18
dict_keys(['Name', 'Age', 'Sex', 'GPA'])
dict_values(['Tom', 18, 'Male', 3.76])

In [9]:
#Special types
a=None
print(type(a))
a=True
print(a,type(a))
b=5==2
print(b,type(b))

list3=[3,5,5,2,52,2,1,1,2]
set4=set(list3)
print(set4,type(set4))

a={3,5,5,2}
print(a,type(a))

<class 'NoneType'>
True <class 'bool'>
False <class 'bool'>
{1, 2, 3, 5, 52} <class 'set'>
{2, 3, 5} <class 'set'>

In [10]:
'''
at this point, you probably already noticed that the variable names we used in the examples
don't help explain the values they store. The program will get hard to read when it gets big
It's a good practice to create meaningful names for variables and functions. Please refer to 
Style Guide for Python Code document to learn Python naming conventions. 

Here is a quick summary
1. use complete or partial words to name a variable/function
2. use lowercase only 
3. use "_" to separate each word

student_gpa_list=[3.6,4.0,2.9,3.27]
quote_str= "light tomorrow with today"
vote_variance = calculate_variance(vote_list)
...

'''

'\nat this point, you probably already noticed that the variable names we used in the examples\ndon\'t help explain the values they store. The program will get hard to read when it gets big\nIt\'s a good practice to create meaningful names for variables and functions. Please refer to \nStyle Guide for Python Code document to learn Python naming conventions. \n\nHere is a quick summary\n1. use complete or partial words to name a variable/function\n2. use lowercase only \n3. use "_" to separate each word\n\nstudent_gpa_list=[3.6,4.0,2.9,3.27]\nquote_str= "light tomorrow with today"\nvote_variance = calculate_variance(vote_list)\n...\n\n'

In [12]:
#Arithmetic operations
print(3+2)
print(1.5-8)
print(5*pi)  #buildin variable 
print(5/2)
print(5//2) #integer division
print(5%2)
print(5**2)

5
-6.5
15.700000000000001
2.5
2
1
25

In [13]:
#Comparison operations
import math
print("a"=='a')
print("1"!=1)
print(3.1253>=math.pi)
print(math.pi)

True
True
False
3.141592653589793

In [14]:
#Assignment operations
base_price=24
print(base_price)
base_price *= 3
print(base_price)
base_price %= 10
print(base_price)

24
72
2